@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Base styles */
body {
    font-family: 'Chewy', cursive;
    color: #b7e4f9ff;
}

h1 {
    font-size: 13rem;
    text-align: center;
    margin: 8vh 0;
}

button {
    width: 500px;
    border: none;
    height: 60px;
    background-color: #b7e4f9ff;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: 'Chewy', cursive;
}

/* Light mode styles */
body {
    background-color: #97ce4c;
}

li.card {
    background-color: #fff;
    border: 1px solid #bacdd8;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    margin-top: 8vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li.card img {
    border-radius: 15px;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.content {
    padding: 8px;
}

.content p {
    font-size: 1.3rem;
    color: #7f8c9b;
    line-height: 150%;
    text-align: center;
}

.content h4 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 7rem;
    }

    button {
        width: 90%;
        margin: 0 auto 16px;
    }

    li.card img {
        width: 100%;
        height: auto;
    }
}
